  body {
            font-family: 'Arial', sans-serif;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .post-container {
            background-color: white;
            border: 1px solid white;
            border-radius: 4px;
            
            width: 500px;
            padding: 16px;
        }
        .post-user {
            display: flex;
            align-items: center;
            margin-bottom: 12px;
        }
        .user-perfil {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 6px;
        }
        .user-username {
            font-weight: bold;
            display: flex;
            width: 100%;
        }
        .post-image {
            width: 100%;
           
            margin-bottom: 12px;
        }
        .post-caption {
            margin-bottom: 12px;
        }

        .likes-comments {
            color: black
        }
        .comments-list {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-top: 10px;
        }
        .comment {
            margin-bottom: 8px;
        }
        
      
      .action-buttons{
        display: flex;
        width: 100%;
      }
        .fa-bookmark{
           
            margin-left: auto;
        }
        .fa-align-justify{
            margin-left: auto;
            
        }